<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mocire.wechat">

    <application>
        <!-- 设计该三方依赖的Manifest直接写在该组件中.最终App-Manifest会合并 -->
        <!--微信sdk回调页面-->
        <activity
            android:name="com.joe.tencent.wechat.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--腾讯sdk回调页面-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 在gradle中设置占位符,统一管理 -->
                <data android:scheme="tencent${QQ_APP_ID}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>
